h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
h1{
    color: rgb(255, 204, 0);
    font-size: 35px;
    margin-b: 5%;
}
li{
    color: rgb(0, 0, 0);
}
h2:hover{
    color: rgb(123, 100, 237);
    font-size: 30px;
}
li:hover{
    color: orangered;
}
img{
    width: 200px;
  margin-left: 80%;
    height: 200px;
    padding: auto;
    border-radius: 50%;
    box-shadow: 10px 10px 10px ;
}
body{
    background: linear-gradient(#3D7EAA,#FFE47A);
    
}