.container{
    position: absolute;
    left: 25%;
    display: flex;
    height: 450px;
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 3%;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 55, 55);
    border-radius: 10px;
}
p{
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: aliceblue;
}
#field{
    padding-left: 5px;
    background-color: aliceblue;
    border: 2px solid black;
    width: 100%;
    height: 50px;
    margin-top:1%;
    font-size: x-large;
    border-radius: 10px;
   
}
.btns{
    color: white;
    box-shadow: 1px 1px white;
    display: flex;
    height: 47px;
    width: 47px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 1px;
     border: 2px solid black;
     border-radius: 6px;
    background-color: rgb(189, 132, 34);
}
.bttns{
    color: white;
    box-shadow: 1px 1px white;
    display: flex;
    height: 47px;
    width: 47px;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
     margin: 0.1px;
     border: 2px solid black;
     border-radius: 6px;
    background-color: rgb(232, 51, 129);
}
.bttns:hover{
    color: rgb(0, 0, 0);
}
.btns:hover{
    color: rgb(3, 2, 2);
}
